@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,body
{
    font-family: 'Questrial', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}

/* Header */
body{
    background-color: white;
}
.header{
    padding-top: 10px;
}
.hms{
    height: 15%;
    width: 15%;
}
.pec{
    height: 15%;
    width: 15%;
}

/* Nav Component */

.close {
    position: relative;
    left: 60%;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
    font-size: 1rem;
    font-family: "Montserrat";
}
.close{
    position: relative;
    left: 380px;
}

/* Home Component */

.topSection, .describe{
    background-image: linear-gradient(to right,#43cea2,#185a9d);
    padding-bottom: 30px;
}
.content{
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.feature{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 5%;
}
.feature-heading{
    color: #185a9d;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.feature-line{
    border-color: #185a9d;
}
.hostel{
    background-color: white;
    text-align: center;
    padding-bottom: 5%;
}
h1{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border-color: white;
    width:7%;
    text-align:center;
}
p{
    font-size: 1.2rem;
    font-weight: 500;
}
ul{
    line-height: 2rem;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

/* Footer */

#footer{
    background-image: linear-gradient(to right,#43cea2,#185a9d);
    padding: 3% 0%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    
}

/*Contact*/
.contact{
    padding-left: 100px 10px 10px 10px;
    background-color: white;
}
.contactF{
    background-image: linear-gradient(to right,#43cea2,#185a9d);
}
.admin {
    padding: 20px;
}
.social-icon{
    margin: 20px 20px;
    color: white;
    
}
.social-icon:hover{
    color:#185a9d;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}


i.info {
    float: left;
    background-color: rgb(67, 189, 128);
    border-radius: 75%;
    border: 2x solid #185a9d;
    padding: 10px 10px;
    color: white;
  }

.text{
    padding-left: 60px;
    font-family:'Ubuntu', sans-serif;
}  


.inline{
    display: inline-block;

}
.myForm{
    font-family: 'Montserrat', sans-serif;
}
strong{
    font-size: 1.5rem;
}

.pad{
    padding-left: 50%;
}
.me{
    box-shadow: none;
}
.card{
    border-radius: 0;
    box-shadow: none;
    font-size: x-small; 
}
.card p {
    font-size: medium;
    margin-bottom: 0;
}
.card h3 {
    margin-left: 20%;
}
.card-header {
    background-color: rgb(255, 255, 255);
}
.card-footer {
    font-size: 0.8rem;
}
.dashcards {
    border: none;
}

.leftNav{
    background-color: rgb(233, 243, 242);
}
.leftNav {
    font-size: small;
    color: turquoise;
}
